* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(238, 226, 226);
    color: aliceblue;
    font-family: sans-serif;
}

.header {
    background-image: url('media-folder/Rectangle\ 2.png');
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1000%;
    font-weight: 600;
    margin: 200px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 
    0.05em 0 0 rgba(241, 241, 241, 0.75),
    -0.025em -.05em 0 rgba(145, 145, 145, 0.75),
    0.025em 0.05em 0 rgba(3, 3, 3, 0.75);

    animation: glitch 24000ms infinite;
}

@keyframes glitch {
    0% {
        text-shadow: 
        0.05em 0 0 rgba(255,0,0,.75),
        -0.025em -.05em 0 rgba(255, 255, 255, 0.75),
        0.025em 0.05em 0 rgba(7, 7, 10, 0.75);
    } 
    15% {
        text-shadow: 
        -0.05em -0.025em 0 rgba(255,0,0,.75),
        0.025em 0.025em 0 rgba(183, 187, 183, 0.75),
        -0.05em 0.05em 0 rgba(0,0,255,.75);
    }    50% {
        text-shadow: 
        0.025em 0.05em 0 rgba(255,0,0,.75),
        0.05em -0.025em 0 rgba(250, 250, 250, 0.75),
        0 -0.05em 0 rgba(0,0,255,.75);
    }    100% {
        text-shadow: 
        -0.025em 0 0 rgba(255,0,0,.75),
        -0.025em -0.025em 0 rgba(156, 156, 156, 0.75),
        -0.025em -0.05em 0 rgba(0,0,255,.75);
    }
}
    


.sub-header {
    background-image: url('media-folder/Rectangle\ 3.png');
    font-family: sans-serif;
    color: rgb(202, 70, 8);
    font-size: 400%;
    font-weight: bold;
    margin-top: 400px;
    margin-bottom: 400px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 
    0.05em 0 0 rgba(255,0,0,.75),
    -0.025em -.05em 0 rgba(0,255,0,.75),
    0.025em 0.05em 0 rgba(0,0,255,.75);

    animation: glitch 24000ms infinite;
}

.flex-container {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 200px;
    text-align: center;
}

.sunset-blunt {
    background-image: url('media-folder/Rectangle\ 4.png');
    color: rgb(192, 192, 240);
    margin-left: 100px;
    margin-right: 100px; 
    width:400px;
    height: 400px;   
}

.duality {
    background-image: url('media-folder/Rectangle\ 5.png');
    color: rgb(238, 155, 0);
    margin-left: 100px;
    margin-right: 100px;
    width:400px;
    height:400px;  
}

.erotika {
    background-image: url('media-folder/Rectangle\ 6.png');
    color: rgb(19, 224, 19);
    margin-left: 100px;
    margin-right: 100px;
    width:400px;
    height:400px; 
    
}

.item {
    background-image: url('media-folder/Rectangle\ 7.png');

    font-family: sans-serif;
    display: flex;
    justify-content: center;
    color: rgb(202, 70, 8);
    font-size: 400%;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 300px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 
    0.05em 0 0 rgba(255,0,0,.75),
    -0.025em -.05em 0 rgba(0,255,0,.75),
    0.025em 0.05em 0 rgba(0,0,255,.75);

    animation: glitch 24000ms infinite;
}

.flex-row {
    display: table-row;
    
}

audio {
    margin: 0px;
    size: 200px;
    width:300px;
    height:100px;
    color: black;
}

p {
    font-family: sans-serif;
    font-size: 200%;
    font-weight: bold;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.one {

    background-image: url('media-folder/Rectangle\ 8.png');

    color: rgb(123, 123, 255);
    margin-left: 40%;
    margin-right: -40%;
    margin-top: 10px;
    margin-bottom: 10px;

    
}

.two {
    background-image: url('media-folder/Rectangle\ 9.png');

    color: orange;
    margin-left: 70%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.three {
    background-image: url('media-folder/Rectangle\ 10.png');

    color: green;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.four {
    background-image: url('media-folder/Rectangle\ 11.png');

    color: rgb(4, 182, 236);
    margin-left: 70%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.five {
    background-image: url('media-folder/Rectangle\ 12.png');

    color: rgb(255, 38, 0);
    margin-left: 10%;
}

.six {
    background-image: url('media-folder/Rectangle\ 15.png');

    color: rgb(10, 250, 10);
    margin-left: 70%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.seven {
    background-image: url('media-folder/Rectangle\ 16.png');

    color: rgb(201, 80, 0);
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.eigth {
    background-image: url('media-folder/Rectangle\ 17.png');

    color: rgb(255, 255, 212);
    margin-left: 70%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nine {
    background-image: url('media-folder/Rectangle\ 18.png');

    color: rgb(141, 9, 218);
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cards div{
    display: flex;
    margin-top: 20%;
    margin-bottom: 5%; 
    size: 600px;
    justify-content: center;
    color: rgb(224, 108, 124);
    text-transform: uppercase;
    text-shadow: 
    0.05em 0 0 rgba(255,0,0,.75),
    -0.025em -.05em 0 rgba(0,255,0,.75),
    0.025em 0.05em 0 rgba(0,0,255,.75);

    animation: glitch 24000ms infinite;
}