* {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}

body {
    background-color: rgb(12, 10, 10);
    color: rgb(72, 92, 110);
    font-family: sans-serif;
}


.header {
    background-image: url('media-folder/Rectangle\ 2.png');
    font-family: sans-serif;
    color: rgb(165, 136, 136);
    font-size: 1000%;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
    object-fit: contain;
    height: 680px;
    width: 1360px;
    }

    img {
    margin-top:4%;
    float: right;
    margin-right: 4%;
    }

.sub-header {
    background-image: url('media-folder/Rectangle\ 3.png');
    font-family: sans-serif;
    color: rgb(165, 136, 136);
    font-size: 130%;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: left;;
    object-fit: contain;
    height: 450px;
    width: 1360px;

}

section {
    width: 1360px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}



.sunset-blunt {
    background-image: url('media-folder/Rectangle\ 4.png');
    font-family: sans-serif;
    color: rgb(165, 136, 136);
    height: 320px;
    width: 432px;  
}

.duality {
    background-image: url('media-folder/Rectangle\ 5.png');
    font-family: sans-serif;
    color: rgb(165, 136, 136);
    font-size: 130%;
    font-weight: 600;
    height: 320px;
    width: 432px; 
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}

.erotika {
    background-image: url('media-folder/Rectangle\ 6.png');
    font-family: sans-serif;
    color: rgb(165, 136, 136);
    height: 320px;
    width: 432px;
}

.item {
    background-image: url('media-folder/Rectangle\ 7.png');
    font-size: 130px;

    font-family: sans-serif;
    color: rgb(165, 136, 136);
    height: 365px;
    width: 1360px;  
}

audio {
    margin: 0px;
    size: 200px;
    width:300px;
    height:100px;
    color: black;
}

p {
    font-family: sans-serif;
    font-size: 300%;
    font-weight: bold;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    width:300px;
    height:100px;

}

.one {

    background-image: url('media-folder/Rectangle\ 8.png');
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;

}

.two {
    background-image: url('media-folder/Rectangle\ 9.png');
    font-family: sans-serif;
    color: rgb(165, 136, 136);
    font-size: 130%;
    font-weight: 600;
    margin-left: 20px;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;;
    object-fit: contain;
    height: 320px;
    width: 432px; 
    background-repeat:   no-repeat;
    background-position: center center; 
    border-radius: 1em; 
}

.three {
    background-image: url('media-folder/Rectangle\ 10.png');
    font-family: sans-serif;
    color: rgb(165, 136, 136);
    font-size: 130%;
    font-weight: 600;
    margin-left: 900px;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;;
    object-fit: contain;
    height: 320px;
    width: 432px; 
    background-repeat:   no-repeat;
    background-position: center center; 
    border-radius: 1em;
}

.four {
    background-image: url('media-folder/Rectangle\ 11.png');
    font-family: sans-serif;
    color: rgb(165, 136, 136);
    font-size: 130%;
    font-weight: 600;
    margin-left: 20px;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;;
    object-fit: contain;
    height: 320px;
    width: 432px; 
    background-repeat:   no-repeat;
    background-position: center center; 
    border-radius: 1em;
}

.five {
    background-image: url('media-folder/Rectangle\ 12.png');
    font-family: sans-serif;
    color: rgb(165, 136, 136);
    font-size: 130%;
    font-weight: 600;
    margin-left: 900px;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;;
    object-fit: contain;
    height: 320px;
    width: 432px; 
    background-repeat:   no-repeat;
    background-position: center center; 
    border-radius: 1em;
}

.six {
    background-image: url('media-folder/Rectangle\ 15.png');
    font-family: sans-serif;
    color: rgb(165, 136, 136);
    font-size: 130%;
    font-weight: 600;
    margin-left: 20px;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;;
    object-fit: contain;
    height: 320px;
    width: 432px; 
    background-repeat:   no-repeat;
    background-position: center center; 
    border-radius: 1em;
}

.seven {
    background-image: url('media-folder/Rectangle\ 16.png');
    font-family: sans-serif;
    color: rgb(165, 136, 136);
    font-size: 130%;
    font-weight: 600;
    margin-left: 900px;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;;
    object-fit: contain;
    height: 320px;
    width: 432px; 
    background-repeat:   no-repeat;
    background-position: center center; 
    border-radius: 1em;
}

.eigth {
    background-image: url('media-folder/Rectangle\ 17.png');
    font-family: sans-serif;
    color: rgb(165, 136, 136);
    font-size: 130%;
    font-weight: 600;
    margin-left: 20px;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;;
    object-fit: contain;
    height: 320px;
    width: 432px; 
    background-repeat:   no-repeat;
    background-position: center center; 
    border-radius: 1em;
}

.nine {
    background-image: url('media-folder/Rectangle\ 18.png');
    font-family: sans-serif;
    color: rgb(165, 136, 136);
    font-size: 130%;
    font-weight: 600;
    margin-left: 900px;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;;
    object-fit: contain;
    height: 320px;
    width: 432px; 
    background-repeat:   no-repeat;
    background-position: center center; 
    border-radius: 1em;
}

.cards div{
    display: flex;
    margin-top: 20%;
    margin-bottom: 5%; 
    size: 600px;
    justify-content: center;
    color: rgb(224, 108, 124);
    text-transform: uppercase;
    text-shadow: 
    0.05em 0 0 rgba(255,0,0,.75),
    -0.025em -.05em 0 rgba(0,255,0,.75),
    0.025em 0.05em 0 rgba(0,0,255,.75);

    animation: glitch 24000ms infinite;
}