body {
    background-color: rgb(20, 8, 8);
    color: aliceblue;
}

.header {
    color: rgb(250, 241, 237);
    font-size: 900%;
    font-weight: 500;
    font-family: Cambria, Cochin, 
    Georgia, Times, sans-serif;
    margin: 200px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 
    0.05em 0 0 rgba(255,0,0,.75),
    -0.025em -.05em 0 rgba(0,255,0,.75),
    0.025em 0.05em 0 rgba(0,0,255,.75);

    animation: glitch 8000ms infinite;
}

@keyframes glitch {
    0% {
        text-shadow: 
        0.05em 0 0 rgba(255,0,0,.75),
        -0.025em -.05em 0 rgba(0,255,0,.75),
        0.025em 0.05em 0 rgba(0,0,255,.75);
    } 
    15% {
        text-shadow: 
        -0.05em -0.025em 0 rgba(255,0,0,.75),
        0.025em 0.025em 0 rgba(0,255,0,.75),
        -0.05em 0.05em 0 rgba(0,0,255,.75);
    }    50% {
        text-shadow: 
        0.025em 0.05em 0 rgba(255,0,0,.75),
        0.05em -0.025em 0 rgba(0,255,0,.75),
        0 -0.05em 0 rgba(0,0,255,.75);
    }    100% {
        text-shadow: 
        -0.025em 0 0 rgba(255,0,0,.75),
        -0.025em -0.025em 0 rgba(0,255,0,.75),
        -0.025em -0.05em 0 rgba(0,0,255,.75);
    }
}
    


.sub-header {
    color: rgb(202, 70, 8);
    font-size: 200%;
    font-weight: bold;
    margin: 200px;
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: center;
    margin: 100px;
}

.sunset-blunt {
    color: rgb(192, 192, 240);
    margin-left: 200px;
    margin-right: 200px;    
}

.duality {
    color: rgb(238, 155, 0);
    margin-left: 200px;
    margin-right: 200px;  
}

.erotika {
    color: rgb(19, 224, 19);
    margin-left: 200px;
    margin-right: 200px;  
}

.item {
    display: flex;
    justify-content: center;
    color: rgb(202, 70, 8);
    font-size: 400%;
    font-weight: bold;
    margin: 2   20px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.flex-row {
    display: table-row;
    justify-content: center;
    
}

audio {
    margin: 80px;
    size: 200px;
    width:300px;
    height:100px;
}


.one {
    color: rgb(123, 123, 255);
}

.two {
    color: orange;
}

.three {
    color: green;
}

.four {
    color: orange;
}

.five {
    color: orange;
}

.six {
    color: green;
}

.seven {
    color: rgb(252, 252, 141);
}

.eigth {
    color: rgb(202, 202, 51);
}

.nine {
    color: orange;
}

.cards {
    display: flex;
    justify-content: center;
    color: rgb(224, 108, 124);
}
